@model WebApplication4.Models.Imag

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Комментарий к изображению</h4>
    </div>
    <div class="modal-body">
        <p>@Html.DisplayFor(model => model.Cmnt)</p>
    </div>
</div>